<script props>
    module.exports = {
        title: props.title,
        description: props.description,
    }
</script>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,  maximum-scale=1, user-scalable=0">

    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">

    <link rel="icon" href="/src/favicon.ico">
    <link rel="stylesheet" href="/src/css/main.css">
</head>

<body>
    <main class="p-4">
        <slot:main></slot:main>
    </main>
<script type="module" src="/src/js/main.js"></script>
</body>

</html>
